name: Bump versions

permissions:
  contents: write
  actions: write

on:
  push:
    branches:
      - main
  schedule:
    # Every 6 hours
    - cron: "0 */6 * * *"

jobs:
  bump_versions:
    runs-on: ubuntu-latest
    steps:
      - name: Get current timestamp
        id: timestamp
        run: |
          echo timestamp_sec=$(date +%s) >> $GITHUB_OUTPUT

      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e

      - name: Setup Deno
        uses: denoland/setup-deno@bac1f7276ce08dba2dadbc204ad8385615bf7bdb
        with:
          deno-version: v2.x

      - name: Bump versions
        run: deno task bump-versions

      - name: Commit changes
        uses: EndBug/add-and-commit@c59d9b8d448fa68412dc59ff0993f13c1749c339
        id: commit
        with:
          default_author: github_actions
          message: "Bump versions"
          add: "versions.yaml"
          push: true

      - name: Tag release
        if: steps.commit.outputs.committed == 'true'
        run: |
          git tag -a release/${{ steps.timestamp.outputs.timestamp_sec }} -m "Release ${{ steps.timestamp.outputs.timestamp_sec }}"
          git push origin release/${{ steps.timestamp.outputs.timestamp_sec }}

      - name: Dispatch release event
        if: steps.commit.outputs.committed == 'true'
        uses: peter-evans/repository-dispatch@25d29c2bbf9b1fd1e3e924e485d754498fdc84fd
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event-type: release
          client-payload: '{"ref": "release/${{ steps.timestamp.outputs.timestamp_sec }}"}'
