name: CI

permissions:
  contents: write

on:
  push:

jobs:
  smoke_test:
    name: smoke_test
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Build Kernel (using docker)
        run: |
          ./scripts/docker-build.sh
          ./scripts/docker-run.sh \
            --env CI=true \
            --env SKIP_KERNEL_BUILD=true
