name: CI

permissions:
  contents: write

on:
  push:

jobs:
  smoke_test:
    name: smoke_test
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Build Kernel (using docker)
        run: |
          ./scripts/docker-build.sh
          ./scripts/docker-run.sh \
            --env CI=true \
            --env SKIP_KERNEL_BUILD=true
