name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "release/*"
      - "debug/*"
  # Github actions cannot trigger on tags created by other actions
  repository_dispatch:
    types: [release]

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - name: Get a start timestamp
        id: get_timestamp
        run: echo "now=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_OUTPUT

      - name: Check out the repo (dispatch)
        if: github.event_name == 'repository_dispatch'
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          ref: ${{ github.event.client_payload.ref }}

      - name: Check out the repo (tag)
        if: github.event_name == 'push'
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          ref: ${{ github.event.ref }}

      - name: Get the tag name
        id: get_tag_name
        run: echo "tag_name=$(git tag --points-at HEAD)" >> $GITHUB_OUTPUT

      - name: Get the commit hash
        id: get_commit_hash
        run: echo "commit_hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Build Kernel
        run: |
          ./scripts/docker-build.sh
          ./scripts/docker-run.sh --env CI=true

      - name: Create Release (debug)
        if: startsWith(steps.get_tag_name.outputs.tag_name, 'debug/')
        uses: "softprops/action-gh-release@5122b4edc95f85501a71628a57dc180a03ec7588"
        with:
          tag_name: ${{ steps.get_tag_name.outputs.tag_name }}
          target_commitish: ${{ steps.get_commit_hash.outputs.commit_hash }}
          draft: true
          prerelease: true
          files: |
            dist/*

      - name: Create Release (release)
        if: startsWith(steps.get_tag_name.outputs.tag_name, 'release/')
        uses: "softprops/action-gh-release@5122b4edc95f85501a71628a57dc180a03ec7588"
        with:
          tag_name: ${{ steps.get_tag_name.outputs.tag_name }}
          target_commitish: ${{ steps.get_commit_hash.outputs.commit_hash }}
          name: auto-release-${{ steps.get_timestamp.outputs.now }}
          body_path: dist/versions.yaml
          files: |
            dist/*
